@model Teacher
@{
    Layout = "_Layout";
}
@section pages{
    <div class="row column1">
        <div class="col-md-10">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-clock-o blue1_color"></i>
                    </div>
                </div>
                <div class="counter_no">
                    <div>
                        <p class="total_no">Öğrencileri Aktar</p>
                    </div>
                </div>
            </div>
        </div>
        <form asp-controller="Teacher" asp-action="ExcellToDb" method="post" enctype="multipart/form-data">
            <input type="file" name="postedFile" />
            <input type="submit" value="Import" />
        </form>
    </div>
    }
    @section menus{
    <li>
        <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Staj İşlemleri</span></a>
        <ul class="collapse list-unstyled" id="apps">
            <li><a asp-action="Intern1Main" asp-controller="Student"><span>Staj-1</span></a></li>
            <li><a asp-action="Intern2Page" asp-controller="Student"><span>Staj-2</span></a></li>
            <li><a asp-action="ISE" asp-controller="Student"><span>ISE</span></a></li>
        </ul>
    </li>

    <li>
        <a href="#apps2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Ogrenci İslemleri</span></a>
        <ul class="collapse list-unstyled" id="apps2">
            <a asp-action="ListStudents" asp-controller="Teacher"><span>Öğrencileri Listele</span></a>
            <a asp-action="OgrenciAktar" asp-controller="Teacher"><span>Öğrencileri Aktar</span></a>
        </ul>

    </li>

    }
