@model TeacherModel
@{
    Layout = "_Layout";
}

    @section info{
    <div class="user_img">
        <img class="img-responsive"
         src="@ViewData["Path"]"
         alt="#" />
    </div>
    <div class="user_info">
        <h6>@ViewData["Name"]</h6>
        <p><span class="online_animation"></span>Komisyon</p>
    </div>
}

@section pages{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">AdSoyad</th>
                <th scope="col">OgretmenNumarası</th>
                <th scope="col">OgrenmenMaili</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var item in Model.StudentList)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@item.StudentNumber</td>
                    <td>@item.StudentPassword</td>
                </tr>
            }
        </tbody>
    </table>
}
    @section menus{
    <li>
        <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Staj İşlemleri</span></a>
        <ul class="collapse list-unstyled" id="apps">
            <li><a asp-action="Intern1Main" asp-controller="Student"><span>Staj-1</span></a></li>
            <li><a asp-action="Intern2Page" asp-controller="Student"><span>Staj-2</span></a></li>
            <li><a asp-action="ISE" asp-controller="Student"><span>ISE</span></a></li>
        </ul>
    </li>

    <li>
        <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Öğrenci İşlemleri</span></a>
        <ul class="collapse list-unstyled" id="apps">
            <li><a asp-action="ListStudents" asp-controller="Teacher"><span>Öğrencileri Listele</span></a></li>
        </ul>
    </li>

    }
}