@model BossModel
@{
    Layout = "_Layout";
}
@section info{
    <div class="user_img">
        <img class="img-responsive"
         src="@ViewData["Path"]"
         alt="#" />
    </div>
    <div class="user_info">
        <h6>@ViewData["Name"]</h6>
        <p><span class="online_animation"></span>Komisyon</p>
    </div>
}
    @section menus{
    <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fa fa-dashboard yellow_color"></i> <span>İşlemler</span>
    </a>
    <ul class="collapse list-unstyled" id="dashboard">
        <li>
            <a asp-controller="Boss" asp-action="CreateTeacher"> <span>Komisyon İşlemleri</span></a>
        </li>
        <li>
            <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Staj İşlemleri</span></a>
            <ul class="collapse list-unstyled" id="apps">
                <li><a asp-action="Intern1Page" asp-controller="Student"><span>Staj-1</span></a></li>
                <li><a asp-action="Intern2Page" asp-controller="Student"><span>Staj-2</span></a></li>
                <li><a asp-action="ISE" asp-controller="Student"><span>ISE</span></a></li>
            </ul>
        </li>
    </ul>
}
    @section pages{

    <form asp-controller="Komisyon" asp-action="Staj1Date" method="post">


        <div class="form-group">
            <label asp-for="Interns.RecStart"></label>
            <input required type="date" asp-for="Interns.RecStart" />
        </div>
        <div class="form-group" id="recEnd">
            <label asp-for="Interns.RecEnd"></label>
            <input required type="date" asp-for="Interns.RecEnd" />
        </div>

        <div class="form-group">
            <label asp-for="Interns.RecFileStart"></label>
            <input required type="date" asp-for="Interns.RecFileStart" />
        </div>
        <div class="form-group">
            <label asp-for="Interns.RecFileEnd"></label>
            <input required type="date" asp-for="Interns.RecFileEnd" />
        </div>
        <div class="form-group">
            <label asp-for="Interns.RecFileStart2"></label>
            <input required type="date" asp-for="Interns.RecFileStart2" />
        </div>
        <div class="form-group">
            <label asp-for="Interns.RecFileEnd2"></label>
            <input required type="date" asp-for="Interns.RecFileEnd2" />
        </div>
        <div class="form-group">
            <label asp-for="Interns.Type"></label>
            <input required type="text" asp-for="Interns.Type" value="Staj1" />
        </div>
        <button type="submit" class="btn btn-primary">Staj Tarihi Kaydet</button>
    </form>
}
    @section myScripts{
    <script>
        var myValue = document.getElementById("Interns.RecStart").value;
        console.log(myValue);
        document.getElementById("recEnd").addEventListener('click', function () {
            document.getElementById("Interns.RecEnd").value = myValue
        });
    </script>
}