@model BossModel
@{
    Layout = "_Layout";
}
@section info{
    <div class="user_img">
        <img class="img-responsive"
         src="https://i1.rgstatic.net/ii/profile.image/932039775760384-1599227007023_Q512/Serdar-Solak-2.jpg"
         alt="#" />
    </div>
    <div class="user_info">
        <h6>Serdar Solak</h6>
        <p><span class="online_animation"></span>Yönetici</p>
    </div>
}
    @section menus{
    <ul class="collapse list-unstyled" id="dashboard">
        <li>
            <a href="dashboard.html">> <span>Komisyon İşlemleri</span></a>
        </li>
        <li>
            <a href="dashboard_2.html">> <span>Öğrenci İşlemleri</span></a>
        </li>
    </ul>
                                
    <li>
        <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Apps</span></a>
        <ul class="collapse list-unstyled" id="apps">
            <li><a href="email.html"><span>Email</span></a></li>
        </ul>
    </li>
}
@section pages{
    <div class="login">

        <div class="login-header">

            <div class="img-content"> <img class="logos" src="https://seeklogo.com/images/K/kocaeli___niversitesi-logo-440B62032E-seeklogo.com.png"></div>

            <form asp-controller="Boss" asp-action="CreateTeacher" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label asp-for="Persons.IdentyNumber"></label>
                    <input type="text" asp-for="Persons.IdentyNumber" />
                </div>

                <div class="form-group">
                    <label asp-for="Persons.NameSurname"></label>
                    <input type="text" asp-for="Persons.NameSurname" />
                </div>

                <div class="form-group">
                    <label asp-for="Persons.Image"></label>
                    <input name="file" id="file" type="file" asp-for="Persons.Image" />
                </div>

                <div class="form-group">
                    <label asp-for="Persons.PhoneNumber"></label>
                    <input name="file"   asp-for="Persons.PhoneNumber" />
                </div>

                <div class="form-group">
                    <label asp-for="Teacher.TeacherMail"></label>
                    <input type="text" asp-for="Teacher.TeacherMail" />
                </div>

                <div class="form-group">
                    <label asp-for="Persons.Civilization"></label>
                    <input name="file" type="text" asp-for="Persons.Civilization" />
                </div>

                <div class="form-group">
                    <label asp-for="Teacher.TeacherNumber"></label>
                    <input type="text" asp-for="Teacher.TeacherNumber" />
                </div>

                <div class="form-group">
                    <label asp-for="Faculty.Id"></label>
                    <select class="form-control" asp-for="Faculty.Id" asp-items="ViewBag.Categories">
                        <option disabled selected value="">Fakülte Seçimi</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Öğretmeni Kaydet</button>
            </form>
        </div>
    </div>
}
