@model StudentModel

@section pages{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">AdSoyad</th>
                <th scope="col">OgretmenNumarası</th>
                <th scope="col">OgrenmenMaili</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var item in Model.StudentsList)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@item.StudentNumber</td>
                    <td>@item.StudentMail</td>
                </tr>
            }
        </tbody>
    </table>
}