@{
    Layout = "";
}
<html>

<head>
    <link rel="stylesheet" href="~/css/login.css" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
    </script>
    <style>
        /* CSS */
        .button-1 {
            background-color: green;
            border-radius: 8px;
            border-style: none;
            box-sizing: border-box;
            color: #FFFFFF;
            cursor: pointer;
            display: inline-block;
            font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            font-weight: 500;
            height: 40px;
            line-height: 20px;
            list-style: none;
            margin: 0;
            outline: none;
            padding: 10px 16px;
            position: relative;
            text-align: center;
            text-decoration: none;
            transition: color 100ms;
            vertical-align: baseline;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
        }

            .button-1:hover,
            .button-1:focus {
                background-color: #F082AC;
            }

        button {
            flex: 0 0 100%;
        }

        #login-2 {
            margin-top: 1%;
        }
    </style>
</head>
<body>

    <div class="login">
        <div class="login-header">

            <div class="img-content"> <img class="logos" src="https://seeklogo.com/images/K/kocaeli___niversitesi-logo-440B62032E-seeklogo.com.png"></div>

            <h3>ÖĞRENCİ BİLGİ SİSTEMİ / ÖĞRENCİ</h3>
            @if (@TempData["LoginError"] != null)
            {
                <div class="errorLogin"><h3>@TempData["LoginError"]</h3></div>
            }
            <form method="post" asp-action="ResetPassword" asp-controller="Home">
                <div class="form-group">
                    <label for="ogrNo" >Öğrenci Numaraniz</label>
                    <input required type="text" name="ogrNo" id="ogrNo">
                    </div>

                <div class="form-group">
                    <label for="identyNumber">Tc No :</label>
                    <input required type="text" name="identyNumber" id="identyNumber">
                </div>

                <div class="g-recaptcha" data-sitekey="6LeaATUiAAAAAMzyY4We68btgAjg4NrKtFbSzLaK" data-callback="enableBtn"></div>
                <div class="login-footer">
                    <button disabled="disabled" id="login-1" type="submit">Şifreyi-Sifirla</button>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        document.addEventListener('contextmenu', event => event.preventDefault());
        //var onloadCallback = function () {
        //    alert("Sisteme giriş yapamk için re-chapta geçmeniz gerekmektedir.");
        //};
        function enableBtn() {
            document.getElementById("login-1").disabled = false;
            document.getElementById("login-1").classList.add("button-1");
            document.getElementById("login-2").disabled = false;
            document.getElementById("login-2").classList.add("button-1");
        }
    </script>
</body>
</html>