@model StudentModel
@{
    Layout = "_Layout";
}

@section info{
    <div class="user_img">
        <img class="img-responsive"
         src="@ViewData["Path"]"
         alt="#" />
    </div>
    <div class="user_info">
        <h6>
            @ViewData["Name"]
        </h6>
        <p><span class="online_animation"></span>Öğrenci</p>
    </div>
}
    @section menus{
    <li>
        <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Staj İşlemleri</span></a>
        <ul class="collapse list-unstyled" id="apps">
            <li><a asp-action="Intern1Main" asp-controller="Student"><span>Staj-1</span></a></li>
            <li><a asp-action="Intern2Page" asp-controller="Student"><span>Staj-2</span></a></li>
            <li><a asp-action="ISE" asp-controller="Student"><span>ISE</span></a></li>
        </ul>
    </li>
}
    @section pages{


    <div class="row column1 d-flex" style="display:flex;">
        <div class="col-md-3" style="margin-left:2%">
            <div class="full counter_section margin_bottom_30">
                <div class="couter_icon">
                    <div>
                        <i class="fa fa-clock-o blue1_color"></i>
                    </div>
                </div>
                <div class="p-5 counter_no">
                    <div>
                        @if (ViewBag.stajTamamlandi)
                        {

                            if (ViewBag.documents == true)
                            {
                                if (ViewBag.isOkeyTrue == true)
                                {
                                    if (ViewBag.tarihOkey2 == true)
                                    {
                                        if (ViewBag.documents2 == true)
                                        {
                                            if (ViewBag.defterOnay == true)
                                            {
                                                <h3 class="mt-5 text-center bg-success text-dark">Staj Defteri Onaylandı !.</h3>
                                                <h3 class="mt-5 text-center bg-info text-secondary">Onaylanan Günler :<span class="text-light">@ViewData["DaysOk"]<span></span></h3>
                                            }
                                            else
                                            {
                                                @using (Html.BeginForm("downloadDefterStaj2", "Student", FormMethod.Post))
                                                {
                                                    <input type="submit" id="btnCancel" value="Indir" />
                                                }
                                                <h3>Dosya Seç Ve Güncelle</h3>
                                                @using (Html.BeginForm("uploadDefterStaj2", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                {
                                                    <input type="file" id="file" name="file" />

                                                    <input type="submit" id="btnCancel" value="Güncelle" />
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <h3 class="mt-5 text-center bg-success text-dark">Staj Başvuru Formu Onaylandı !.</h3>
                                            <h3>Staj Defterini Yükle</h3>
                                            @using (Html.BeginForm("uploadDefterStaj2", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                            {
                                                <input type="file" id="file" name="file" />

                                                <input type="submit" id="btnCancel" value="Kaydet" />
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <h3 class="mt-5 text-center bg-danger text-dark">Staj Defteri Yükleme Süresi Daha Yayınlanmadı veya Süresi Geçti</h3>
                                        <h3 class="mt-5 text-center bg-danger text-dark">Anasayfadaki Tarihleri Kontrol Edin !.</h3>
                                    }
                                }
                                else
                                {

                                    if (ViewBag.tarihOkey == true)
                                    {
                                        <a class="text-info text-xl" asp-action="Intern1Page" asp-controller="Student"><span>Dosya Yarat</span></a>
                                        <h3>Staj Başvuru Formunu İndir</h3>
                                        @using (Html.BeginForm("downloadStaj2", "Student", FormMethod.Post))
                                        {
                                            <input type="submit" id="btnCancel" value="Indir" />
                                        }
                                        if (ViewData["myError"] != null)
                                        {
                                            <h3 class="mt-5 text-center bg-danger text-dark">@ViewData["myError"]</h3>
                                        }

                                        <h3>Dosya Seç Ve Güncelle</h3>
                                        @using (Html.BeginForm("uploadStaj2", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            <input type="file" id="file" name="file" />

                                            <input type="submit" id="btnCancel" value="Güncelle" />
                                        }
                                    }
                                    else
                                    {
                                        <h3 class="mt-5 text-center bg-danger text-dark">Staj Başvuru Güncelleme için Ayrılan Süre Zarfi Gecikti !.</h3>
                                    }
                                }
                            }
                            else
                            {
                                if (ViewBag.tarihOkey == true)
                                {
                                    <a class="text-info" asp-action="Intern1Page" asp-controller="Student"><span>Dosya Yarat</span></a>
                                    <h3>Sisteme Dosya Yükle</h3>
                                    @using (Html.BeginForm("uploadStaj2", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <label asp-for="Intern1s.DetailDocument"></label>
                                        <input type="file" id="file" name="file" />

                                        <input type="submit" id="btnCancel" value="Olustur" />
                                    }
                                }
                                else
                                {
                                    <h3 class="mt-5 text-center bg-danger text-dark">Staj Başvuru Yükleme Süresi Daha Yayınlanmadı veya Süresi Geçti</h3>
                                    <h3 class="mt-5 text-center bg-danger text-dark">Anasayfadaki Tarihleri Kontrol Edin !.</h3>
                                }
                            }

                        }
                        else
                        {
                            <h3 class="mt-5 text-center bg-danger text-dark">Staj-1 Tamamlanmadan Staj-2 Yapilamaz</h3>
                        }
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>            